body {
    margin: 0;
    padding: 0.1rem 0 0.2rem 0;
    border: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 0.1rem;
    background-color: #e6e5e5;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}

html {
    font-size: 200px;
}

@media only screen and (max-width: 1100px),
only screen and (max-device-width:1100px) {
    html {
        font-size: 180px;
    }
}

@media only screen and (max-width: 970px),
only screen and (max-device-width:970px) {
    html {
        font-size: 160px;
    }
}

@media only screen and (max-width: 860px),
only screen and (max-device-width:860px) {
    html {
        font-size: 140px;
    }
}

@media only screen and (max-width: 750px),
only screen and (max-device-width:750px) {
    header,
    article,
    body {
        transform: scale(0.9);
        -ms-transform: scale(0.9);
        /* IE 9 */
        -moz-transform: scale(0.9);
        /* Firefox */
        -webkit-transform: scale(0.9);
        /* Safari 和 Chrome */
        -o-transform: scale(0.9);
        /* Opera */
        transform-origin: 50vw 0;
    }
    article {
        width: 100vw !important;
    }
    footer {
        display: none;
    }
}

@media only screen and (max-width: 720px),
only screen and (max-device-width:720px) {
    header,
    article,
    body {
        transform: scale(0.7);
        -ms-transform: scale(0.7);
        /* IE 9 */
        -moz-transform: scale(0.7);
        /* Firefox */
        -webkit-transform: scale(0.7);
        /* Safari 和 Chrome */
        -o-transform: scale(0.7);
        /* Opera */
        transform-origin: 6.3vw 0;
    }
    article {
        width: 190vw !important;
    }
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 0.07rem;
    color: #607D8B;
    font-weight: 400;
    font-family: inherit;
    line-height: 0.2rem;
}

header {
    width: 5.12rem;
    margin: auto;
    font-size: 0.1rem;
    color: #444444;
    line-height: 0.2rem;
    padding-left: 0.2rem;
}

article {
    width: 5.12rem;
    margin: auto;
    font-size: 0.09rem;
}

article {
    border-radius: 0.05rem;
    border-color: #d5d7ec;
    background-color: #fefefe;
    border-style: solid;
    border-width: 0.005rem;
    margin-bottom: 0.25rem;
}

article>section:first-child>h4 {
    border-radius: 0.05rem 0.05rem 0 0;
}

h4 {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    color: #e16722;
    background-color: #f8f9fc;
    text-align: center;
    line-height: 0.18rem;
}

ul {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
    font-size: 0;
    padding: 0.2rem 0.01rem 0 0.01rem;
}

nav {
    border-color: #d5d7ec;
    border-style: solid;
    border-width: 0.005rem 0 0.005rem 0;
    text-align: center;
}

article>section:last-child>nav {
    border-bottom-width: 0;
}

li {
    display: inline-block;
    width: 1.024rem;
    font-size: 0.09rem;
    box-sizing: content-box;
    background-clip: padding-box;
    padding-top: 0.512rem;
    line-height: 0.16rem;
    text-align: center;
    background-image: url('./logo.png');
    background-position: top center;
    background-size: auto 0.48rem;
    background-repeat: no-repeat;
    padding-bottom: 0.2rem;
    transition: all 500ms ease;
    cursor: pointer;
}

li:hover {
    background-size: auto 0.512rem;
    color: rgb(255, 51, 0);
    font-size: 0.1rem
}

li.helper {
    height: 0;
    line-height: 0;
    padding: 0;
}
