$left-width:2.2rem;
$content-width:10.24rem;
body {
    background-color: #f0eeee;
}

html {
    height: 100vh;
}

* {
    &::-webkit-scrollbar-thumb {
        height: 0;
        width: 0;
    }
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

table {
    width: 100%;
    border: 2px solid #f0eeee;
    padding: .1rem;
    &>thead {
        &>tr {
            color: red;
            line-height: .3rem;
        }
    }
    &>tbody {
        color: #9E9E9E;
        font-weight: 300;
    }
}

a{
    text-decoration: none;
}
