body {
    &>header {
        position: relative;
        line-height: .4rem;
        background-color: #009688;
        height: 1.8rem;
        padding-bottom: 0.4rem;
        background-clip: content-box;
        color: #607D8B;
        min-width: $content-width;
        background-image: url(#{$cloudLeftImg}),
        url(#{$cloudTopImg}),
        url(#{$cloudRightImg});
        background-repeat: no-repeat;
        background-size: 0.8rem auto, 0.9rem auto, 0.8rem auto;
        background-position: 0 0, 50vw 0.6rem, calc(100vw - 0.8rem) 0.4rem;
        &>div {
            background-color: #f6f5f394;
            &>nav {
                color: #319788;
                position: relative;
                width: $content-width;
                margin: auto;
                padding-left: .3rem;
                background-image: url('../logo.png');
                background-repeat: no-repeat;
                background-position: left center;
                background-size: .28rem auto;
                &>ul {
                    color: rgb(255, 255, 255);
                    display: inline-block;
                    &>li {
                        z-index: 1;
                        cursor: pointer;
                        display: inline-block;
                        padding-left: .14rem;
                        padding-right: .26rem;
                        position: relative;
                        &::after {
                            content: " ";
                            width: 0;
                            height: 0;
                            font-size: 0;
                            border-width: .03rem;
                            border-style: solid dashed dashed dashed;
                            border-left-color: transparent;
                            border-right-color: transparent;
                            border-bottom-color: transparent;
                            position: absolute;
                            top: .2rem;
                            right: .16rem;
                            margin-left: .03rem;
                        }
                        &>ul {
                            box-shadow: 0 0.055rem 0.05rem #95ccc5;
                            border-radius: 0 0 0.1rem 0.1rem;
                            top: 0.4rem;
                            position: absolute;
                            display: none;
                            background: white;
                            color: #886e28;
                            width: 4.1rem;
                            padding: .3rem;
                            font-size: 0;
                            left: 0;
                            &>li {
                                cursor: pointer;
                                background-repeat: no-repeat;
                                display: inline-block;
                                width: .7rem;
                                padding-top: .4rem;
                                background-position: center 0;
                                font-size: .14rem;
                                text-align: center;
                                background-size: .4rem;
                            }
                        }
                        &:hover {
                            background-color: white;
                            color: #886e28;
                            &>ul {
                                display: block;
                            }
                        }
                    }
                }
                &>div {
                    &.yelloxing {
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: left center;
                        background-size: 100% auto;
                        background-image: url('../yelloxing.jpg');
                        right: 1.1rem;
                        position: absolute;
                        color: #2196F3;
                        border-radius: 50%;
                        width: 0.6rem;
                        height: 0.6rem;
                        top: 0.1rem;
                        cursor: pointer;
                        font-size: 0;
                        z-index: 2;
                        border:0.02rem solid #95ccc5;
                        box-shadow: 0 0 0.03rem #95ccc5;
                        transition-property: all;
                        transition-duration: 0.8s;
                        transition-timing-function: cubic-bezier(0.02, 0.94, 1, 1);
                    }
                }
                &>a {
                    &.gmail {
                        font-size: 0;
                        position: absolute;
                        top: 0;
                        right: 0.6rem;
                        width: 0.4rem;
                        height: 0.4rem;
                        background-image: url('../image/gmail.png');
                        background-repeat: no-repeat;
                        background-size: 90% auto;
                        background-position: center center;
                        cursor: pointer;
                        transition-property: all;
                        transition-duration: 0.8s;
                        transition-timing-function: cubic-bezier(0.02, 0.94, 1, 1);
                        &:hover {
                            background-size: 110% auto;
                        }
                    }
                    &.qq {
                        font-size: 0;
                        position: absolute;
                        top: 0;
                        right: 0.2rem;
                        width: 0.4rem;
                        height: 0.4rem;
                        background-image: url('../image/QQ.png');
                        background-repeat: no-repeat;
                        background-size: 50% auto;
                        background-position: center center;
                        cursor: pointer;
                        transition-property: all;
                        transition-duration: 0.8s;
                        transition-timing-function: cubic-bezier(0.02, 0.94, 1, 1);
                        &:hover {
                            background-size: 60% auto;
                        }
                    }
                }
            }
        }
    }
}
