.home {
    &.pre-version {
        background-color: #03A9F4;
        color: #ffffff;
        line-height: 0.26rem;
        font-size: 0.12rem;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        img {
            height: 0.20rem;
            width: auto;
        }
    }
    &.title {
        display: none;
    }
    &.webview {
        width: 100vw;
        height: calc(100vh - 0.46rem);
        overflow-y: auto;
        background-color: #e7e7ee;
    }
    &.footer {
        text-align: center;
        width: 100vw;
        font-size: 0.07rem;
        color: #607D8B;
        font-weight: 400;
        font-family: inherit;
        line-height: 0.2rem;
        background-color: #e7e7ee;
    }
}
