.notebook {
    &.content {
        text-indent: 2em;
        margin-bottom: 0.3rem;
        li {
            text-indent: 0;
        }
        .warn {
            color: #c99512;
            font-size: 0.14rem;
            display: block;
            margin: 0.1rem 0 0.1rem 0;
        }
        .error {
            color: #881f1f;
            font-size: 0.14rem;
            display: block;
            margin: 0.1rem 0 0.1rem 0;
        }
        .section {
            margin: 0.16rem;
            font-size: 0.18rem;
            font-family: cursive;
            font-weight: 700;
            .block {
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                -webkit-margin-start: 0;
                -webkit-margin-end: 0;
                -webkit-padding-start: 0;
                margin-top: .1rem;
            }
        }
        pre {
            margin: 0.1rem 0 0.1rem 0;
            font-size: 0.14rem;
            color: #2196F3;
            font-weight: 400;
            overflow-x: scroll;
            background-color: #f0eeee;
            padding: 0.10rem 0 0.10rem 0;
        }
        .block {
             :not(:first-child) {
                margin-top: 0.06rem;
            }
        }
        .list {
            display: block;
            font-size: 0.16rem;
            line-height: 0.24rem;
            font-weight: 600;
            margin-top: 0;
        }
        .title-flag {
            color: red;
            line-height: 0.4rem;
        }
        .little-flag {
            color: #afaf18;
            line-height: 0.3rem;
        }
    }
}
