body.opensource {
    &>header {
        background-color: black;
        color: white;
        &>div {
            position: relative;
            width: $content-width;
            margin: auto;
            line-height: .7rem;
            padding: 0 1.6em 0 1.6em;
            &>div {
                &.title {
                    display: inline-block;
                    &>div {
                        width: 1em;
                        height: 1em;
                        display: inline-block;
                        background-color: white;
                        border-top: .2em solid white;
                        border-bottom: .2em solid white;
                        padding: .2em 0 .2em 0;
                        background-clip: content-box;
                        position: relative;
                        top: .2em;
                    }
                }
            }
            &>ul {
                position: absolute;
                right: 0;
                display: inline-block;
                top: 0;
                height: .7rem;
                &.contact {
                    &>li {
                        vertical-align: top;
                        display: inline-block;
                        cursor: pointer;
                        &>a {
                            width: .4rem;
                            height: .7rem;
                            font-size: 0;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: .3rem auto;
                            display: inline-block;
                            vertical-align: top;
                        }
                        &:first-child {
                            &>a {
                                background-image: url('../image/QQ.png');
                            }
                        }
                        &:last-child {
                            &>a {
                                background-image: url('../image/gmail.png');
                            }
                        }
                    }
                }
            }
        }
    }
    &>section {
        min-height: calc(100vh - 1.7rem);
        width: $content-width;
        margin: auto;
        font-size: 0;
        text-align: center;
        padding: .3rem 0 .3rem 0;
    }
    &>footer {
        background-color: white;
        line-height: 1rem;
        text-align: center;
    }
}
