/*
清除浮动
*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/*
body的特殊样式
*/

@media (min-width: #{$split_pc_phone + 1px}) {
    //pc模式样式
    body {
        background-color: rgba(219, 220, 215, 0.71);
    }
}


/*
返回首页按钮
*/

.close_page {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 35px;
    display: none;
    z-index: 2;
    cursor:pointer;
}
