/***************************************
*******  
github样式
*******
***************************************/

//pc样式和通用样式
.github {
    position: fixed;
    transform: rotateZ(45deg);
    width: 300px;
    top: 77px;
    right: -81px;
    background-color: #577ecb;
    border: 4px dashed #b3bebd;
    outline: 6px solid #577ecb;
    height: 30px;
    line-height: 30px;
    font-family: fantasy;
    cursor: pointer;
    color: aliceblue;
}

@media (max-width: #{$split_pc_phone}) {
    //手机模式样式
    .github {
        font-size: 0;
        border: 0px;
        outline: 0px;
        bottom: 20px;
        top: auto;
        background-image: url('../image/icons.smile.png');
        @include background_reset;
        transform: none;
        width: 30px;
        height: 30px;
        background-position-y: -310px;
        background-size: 30px auto;
        right: calc(50% - 15px);
        background-color: rgba(0, 0, 0, 0.00)
    }
}