.project{
    &.frame{
        background-color: #ebeef1;
        padding: 5px;
        @media (max-width: #{$split_pc_phone}) {
            width:100%;
        }
        @media (min-width: #{$split_pc_phone + 1}) {
            display:inline-block;
            min-width: 350px;
        }
    }
    &.title{
        border-bottom: 1px solid #0c0c0c;
        font-size: 18px;
        cursor: pointer;
    }
    &.info{
        font-size: 14px;
    }
    &.label{
        font-size: 0px;
        .item{
            font-size: 12px;
            display: inline-block;
            margin-right: 6px;
            background-color: #030303;
            color: aliceblue;
            padding: 5px;
        }
    }
}
