/***************************************
*******
reset（重置浏览器的默认样式设置为项目需要的）
*******
***************************************/

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    position: relative;
    font-family: monospace;
}

div,
span,
p,
nav,
article,
section,
footer,
label,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
