/*
全局样式
*/

body {
    background-color: #fefdfc;
    font-size: 16px;
}


/*
404页面样式
*/

.notFound {
    @include bg_init($notFoundImg);
    background-position-y: top;
    margin: auto;
    position: relative;
    padding-top: 240px;
    width: 700px;
    .button {
        line-height: 30px;
        position: absolute;
        right: 30px;
        top: 260px;
        a {
            text-decoration: none;
            background-color: $basicInfoColor;
            color: #fbf6fb;
            padding: 5px;
            border-radius: 8px;
            margin-left: 26px;
        }
    }
    .info {
        position: relative;
        border-top: 2px solid $basicInfoColor;
        padding-top: 10px;
        line-height: 30px;
        color: $basicInfoColor;
    }
}


/*
拒绝服务页面样式
*/

.refuse {
    @include bg_init($refuseImg);
    padding-top: 100px;
    width: 100%;
    background-position-y: top;
    margin-top: 100px;
    padding-left: 2em;
    line-height: 36px;
    color: $basicInfoColor;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    .title {
        font-size: 20px;
    }
    .info {
        font-size: 14px;
    }
    .reason {
        line-height: 20px;
        list-style-type: circle;
        margin-left: 4em;
    }
}


/*
页脚样式
*/

.copyright {
    position: fixed;
    bottom: 0;
    line-height: 20px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #6a7677;
}


/*
复制代码样式
*/

hazy-copy {
    position: relative;
    display: block;
    .hazy-copy-button {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        @include bg-init($copyBeforImg);
        cursor: pointer;
        &:hover {
            background-image: url($copyHoverImg);
        }
    }
}
