/*
全局样式
*/

body {
    background-color: #fefdfc;
    font-size: 16px;
}


/*
404页面样式
*/

.notFound {
    @include bg_init($notFoundImg);
    background-position-y: top;
    margin: auto;
    position: relative;
    padding-top: 240px;
    width: 700px;
    .button {
        line-height: 30px;
        position: absolute;
        right: 30px;
        top: 260px;
        a {
            text-decoration: none;
            background-color: $basicInfoColor;
            color: #fbf6fb;
            padding: 5px;
            border-radius: 8px;
            margin-left: 26px;
        }
    }
    .info {
        position: relative;
        border-top: 2px solid $basicInfoColor;
        padding-top: 10px;
        line-height: 30px;
        color: $basicInfoColor;
    }
}


/*
拒绝服务页面样式
*/

.refuse {
    @include bg_init($refuseImg);
    padding-top: 100px;
    width: 100%;
    background-position-y: top;
    margin-top: 100px;
    padding-left: 2em;
    line-height: 36px;
    color: $basicInfoColor;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    .title {
        font-size: 20px;
    }
    .info {
        font-size: 14px;
    }
    .reason {
        line-height: 20px;
        list-style-type: circle;
        margin-left: 4em;
    }
}


/*
页眉样式
*/

.header {
    &>header {
        width: 100%;
        height: 70px;
        background-color: #5bdfd3;
        background-image: url($cloudLeftImg), url($cloudTopImg), url($cloudRightImg);
        background-repeat: no-repeat;
        background-position: left top, center 10px, right center;
        background-size: auto, auto, auto;
        font-size: 0;
    }
    &>nav {
        background-color: #f4f4ef;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
        text-align: center;
        line-height: 45px;
        background-image: url($selectLineImg);
        background-repeat: repeat no-repeat;
        background-position-y: bottom;
        &>ul {
            color: rgba(157, 157, 182, 0.87);
            &>li {
                margin-left: 15px;
                margin-right: 15px;
                display: inline-block;
                cursor: pointer;
                color: #556165;
                &:hover {
                    color: #58dfd3;
                }
            }
        }
    }
}

/*
点击样式
*/
.click {
    color:#58dfd3 !important;
}

/*
页脚样式
*/

.copyright {
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #999;
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 30px;
    background: linear-gradient(#b0a4a4, #f2ebeb 30px);
    a {
        margin: 0 6px;
        text-decoration: none;
        transition: color 0.3s;
        cursor: pointer;
        outline: 0;
        color: #999;
    }
}


/*
复制代码样式
*/

hazy-copy {
    position: relative;
    display: block;
    .hazy-copy-button {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        @include bg-init($copyBeforImg);
        cursor: pointer;
        &:hover {
            background-image: url($copyHoverImg);
        }
    }
}


/*
禁止样式
*/

@media screen and (max-width: 776px) {
    .header,
    .copyright {
        display: none !important;
    }
}

@media screen and (max-height: 399px) {
    .header,
    .copyright {
        display: none !important;
    }
}


/*
StepByStep
*/

.StepByStep {
    font-size: 0;
    &>li {
        display: inline-block;
        width: 10%;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        &:nth-child(1) {
            background-color: #f50547;
        }
        &:nth-child(2) {
            background-color: #faff00;
        }
        &:nth-child(3) {
            background-color: #0fff00;
        }
        &:nth-child(4) {
            background-color: #b500ff;
        }
        &:nth-child(5) {
            background-color: #0707f3;
        }
        &:nth-child(6) {
            background-color: #00e6ff;
        }
        &:nth-child(7) {
            background-color: #f7f7fb;
        }
        &:nth-child(8) {
            background-color: #ff8200;
        }
        &:nth-child(9) {
            background-color: #b80ed5;
        }
        &:nth-child(10) {
            background-color: #795548;
        }
    }
}
