.home{
    text-align: center;
    margin-top: 100px;
    a{
        text-decoration: none;
        background-color: $basicColor;
        color: #fbf6fb;
        padding: 5px;
        border-radius: 8px;
        margin-left: 6px;
    }
}
