//notebook 前端笔记
.notebook {
    min-height: calc(100vh - 256px);
    margin: 20px auto 20px auto;
    background-color: #f7f4f9;
    max-width: 1024px;
    font-size: 0;
    &>.cursor {
        width: 200px;
        padding: 26px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        &>ul {
            &>li {
                line-height: 30px;
                cursor: pointer;
                color: #546264;
                &:hover {
                    color: lighten($basicCursorColor, 30%);
                }
            }
        }
    }
    &>.menu {
        font-size: 16px;
        box-shadow: 0 0 8px #999;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 200px);
        min-height: calc(100vh - 256px);
        &>.logo {
            @include bg_init('../source/notebook.png');
            width: 100%;
            height: 480px;
            background-color: $basicCursorColor;
        }
        .menu-item {
            background-color: #f7f4ef;
            padding: 14px;
            margin: 20px;
            cursor: pointer;
            border-left: 3px solid $basicCursorColor;
            &:hover {
                background-color: rgba(244, 242, 245, 0.49);
            }
            &>.title {
                line-height: 1.5em;
                font-size: 18px;
                color: lighten($basicCursorColor, 30%);
            }
            &>.info {
                text-indent: 2em;
                line-height: 2em;
                font-size: 13px;
                color: #546264;
            }
            &>.date {
                font-size: 14px;
                font-family: cursive;
                text-align: right;
            }
        }
    }
}

//home
.home {
    min-height: calc(100vh - 256px);
    margin: 20px auto 20px auto;
    max-width: 1024px;
    font-size: 16px;
    padding-top: 116px;
    &>.title {
        padding-left: 276px;
        min-height: 300px;
        width: 625px;
        margin: auto;
        background-image: url('../source/url.png');
        background-position-x: left;
        background-repeat: no-repeat;
        padding-top: 36px;
        &>.name {
            font-size: 36px;
            line-height: 84px;
        }
        &>.info {
            font-family: cursive;
            text-indent: 2em;
            line-height: 26px;
        }
    }
}

//开源项目
.opensource {
    min-height: calc(100vh - 256px);
    .item {
        background-color: #c1e9f1;
        box-shadow: 0 0 10px #c1eaf3;
        margin: 20px;
        line-height: 30px;
        border-radius: 10px;
        position: relative;
        &:hover {
            box-shadow: 0 0 14px #51757d;
        }
        .code {
            text-decoration: none;
            width: 120px;
            line-height: 50px;
            position: absolute;
            right: 0;
            text-align: center;
            background-color: darkcyan;
            top: 0;
            border-radius: 0 10px 10px 0;
            font-size: 14px;
            &:hover {
                font-size: 16px;
                background-color: rgb(11, 202, 202);
            }
        }
        .api {
            color: darkgreen;
            text-decoration: none;
            line-height: 50px;
            display: inline-block;
            width: calc(100% - 120px);
            position: relative;
            left: 0;
            top: 0;
            padding-left: 20px;
            &:hover {
                color: rgb(8, 186, 240);
            }
        }
    }
}
